# Please refer to here for installation: https://github.com/Ascend/pytorch?tab=readme-ov-file#ascend-auxiliary-software
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
triton==3.3.1
torch_npu==2.7.1    # or torch_npu=2.7.1.post2